<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <!-- ======= Header and Navbar ======= -->
  <%- include('layouts/navbar'); -%>

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>현재 수강 가능한 모든 강의를 보여줍니다. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <% for (var i = 0; i < courses.length; i++ ) { %> 
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img src= <%= courses[i].classImage %> class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4><%= courses[i].classCategory %></h4>
                    <p class="price"><%= courses[i].classid %></p>
                  </div>
  
                  <h3><a href="/streaming/<%= courses[i]._id %>"><%= courses[i].className %></a></h3>
                  <p><%= courses[i].classDescription %></p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                      <span><%= courses[i].professor%></span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;<%= courses[i].studentCount %>
                      &nbsp;&nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
            <% } %>

        </div>

      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('layouts/footer'); -%>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <%- include('layouts/scripts'); -%>

</body>

</html>